jinja2==3.1.6
mkdocs==1.6.0
mkdocs-material==9.7.1
pymdown-extensions==10.2
mkdocs-schema-reader==0.11.1
mkdocs-simple-hooks==0.1.5
mkdocs-yaml-schema-plugin==0.2.3
mkdocs-snakemake-rule-plugin==0.4.0
mkdocs-include-markdown-plugin==4.0.4
mkdocs-macros-plugin==1.0.5
